.logo-comp{
    width: 8rem;
    // height: 30px;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

.router-body{
    padding: 20px 10px;
}

.menu-btn{
    border: none !important;
    background: transparent !important;
    cursor: pointer;
}